<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="#">Data Marketplace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" routerLink="/archivi">Archivi</a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" routerLink="/acquista">Acquista</a>
        </li>
      </ul>

      <ul class="navbar-nav">
          <ng-template [ngIf]="authService.isAuthenticated()">
            <li><a style="cursor:pointer;" class="nav-item" (click)="onLogout()">Logout</a></li>
          </ng-template>
        </ul>
    </div>
</nav>
