
<div class="d-flex flex-column m-4">
    <div class="p-2">
      <button (click)="onSalvaClick()" [disabled]="posizioni.length == 0"
        class="btn btn-success btn-lg">
        <fa [name]="'save'" [size]=1></fa>
        Salva
      </button>

      <button (click)="onAnnullaClick()"
        class="btn btn-danger btn-lg ml-2">
        <fa [name]="'reply'" [size]=1></fa>
        Annulla
      </button>
  </div>

   <div class="p-2">

    <div class="card">
      <div class="card-header">
        Nuovo Archivio
      </div>
      <div class="card-body">

        <div class="card">
          <div class="card-header">
            Nuova Posizione
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
 
              <div class="form-row" >
                <div class="form-group col-md-6">
                    <label for="data">Data</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="dd/mm/yyyy"
                                id = "data" name="data"
                                ngModel ngbDatepicker
                                #data="ngbDatepicker"
                                required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="data.toggle()" type="button">
                                <img src="./assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                            </button>
                        </div>
                    </div>  
                    <span class="help-block" *ngIf="data.invalid">Data è obbligatoria</span>
                </div>

                <div class="form-group col-md-6">
                    <ngb-timepicker id="time" [(ngModel)]="time" name="time"
                      [seconds]="true" required>
                    </ngb-timepicker>
                </div>
                <!-- <span class="help-block" *ngIf="time.invalid && (time.dirty || time.touched)">
                    L'orario è obbligatorio
                  </span> -->
              </div>

              <div class="form-row" >
                <div class="form-group col-md-6">
                    <label for="lat">Latitudine</label>
                    <input id="lat" ngModel name="lat" type="number" required class="form-control" #lat="ngModel">
                    <span class="help-block" *ngIf="lat.invalid && (lat.dirty || lat.touched)">
                      Latitudine è obbligatoria
                    </span>
                </div>

                <div class="form-group col-md-6">
                    <label for="lng">Longitudine</label>
                    <input id="lng" ngModel name="lng" type="number" required class="form-control" #lng="ngModel">
                    <span class="help-block" *ngIf="lng.invalid && (lng.dirty || lng.touched)">
                        Longitudine è obbligatoria
                    </span>
                </div>
              </div>
              
                
                <div class="form-row">
                  <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
                      <fa [name]="'plus'" [size]=1></fa>
                    Aggiungi in Archivio
                  </button> 
                </div>
              </form>
            </div>
          </div>

          <posizioni-list [posizioni]="posizioni"></posizioni-list>
        
      </div>
    </div>

    </div>
</div>
