
    <div class="row" >
        <div class="col col-md-12 ">
            <button (click)="onNuovoClick()"
                class="btn btn-primary">
                Nuovo
            </button>
        </div>
    </div>

    <div class="row" >
            <div class="col col-md-12">
        <archivi-list 
            [renderedPosizione]="true"
            [renderedAcquisti]="true"
            [archivi]="archiviUtente"
            [title]="titleArchiviUtenti">
        </archivi-list>
    </div>
</div>

    <div class="row">
            <div class="col col-md-12">
        <archivi-list
            [renderedPosizione]="true"
            [archivi]="archiviAcquistati"
            [title]="titleArchiviAcquistati">
        </archivi-list>
    </div>
</div>

