
<div class="d-flex flex-column m-4">
    <div class="p-2">
        <button (click)="onNuovoClick()"
            class="btn btn-primary btn-lg">
            Nuovo Archivio
        </button>
    </div>

    <div class="p-2">
        <archivi-list 
            [renderedPosizione]="true"
            [renderedAcquisti]="true"
            [archivi]="archiviUtente"
            [title]="titleArchiviUtenti">
        </archivi-list>
    </div>

    <div class="p-2">
        <archivi-list
            [renderedPosizione]="true"
            [archivi]="archiviAcquistati"
            [title]="titleArchiviAcquistati">
        </archivi-list>
    </div>
</div>

