<div class="container">
    <div class="row" >
        <button (click)="onNuovoClick()"
            class="btn btn-primary">
            Nuovo
        </button>
    </div>

    <div class="row" >
        <archivi-list 
            [posizione]="true"
            [archivi]="archiviUtente"
            [title]="titleArchiviUtenti">
        </archivi-list>
    </div>

    <div class="row">
        <archivi-list
            [posizione]="true"
            [archivi]="archiviAcquistati"
            [title]="titleArchiviAcquistati">
        </archivi-list>
    </div>
</div>
