<div class="container">
    <form (ngSubmit)="!dpIni.invalid && onSubmit()" #f="ngForm">
        <div class="form-row" >
            <div class="form-group col-md-4">
                <label for="dataIni">Data dal</label>
                <div class="input-group">
                    <input class="form-control" placeholder="dd/mm/yyyy"
                            id = "dataIni"
                            name="from"
                            ngModel
                            ngbDatepicker
                            #from="ngbDatepicker"
                            #from= "ngModel">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="from.toggle()" type="button">
                            <img src="./assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <ngb-timepicker [(ngModel)]="timeFrom" 
                    name="timeFrom" required>
                </ngb-timepicker>
            </div>

            <div class="form-group col-md-4">
                <label for="utenti">Utente</label>
                <select multiple id="utenti" class="form-control" ngModel name="utentiSelected">
                    <option value="">-- Qualsiasi --</option>
                    <option *ngFor="let utente of utenti">{{utente}}</option> 
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="dataFin">Data al</label>
                <div class="input-group">
                    <input class="form-control" placeholder="dd/mm/yyyy"
                            id = "to"
                            name="to"
                            ngModel
                            ngbDatepicker
                            #to="ngbDatepicker">
                    <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="to.toggle()" type="button">
                        <img src="./assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <ngb-timepicker [(ngModel)]="timeTo" 
                    name="timeTo" required>
                </ngb-timepicker>
            </div>

            <div class="form-group col-md-12">
                <app-acquisti-map></app-acquisti-map>
            </div>   
        </div>
    </form>

    
    <!-- <div class="row" >
        <div class="form-group col-md-12">
            <archivi-list [title]="title"></archivi-list>
        </div>
    </div> -->
</div>


