<table class="table table-striped" [mfData]="posizioni" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
        <th scope="col">Data</th>
        <th scope="col">Latitudine</th>
        <th scope="col">Longitudine</th>
        <th scope="col" *ngIf="renderedElimina"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let posizione of mf.data"> 
            <td >{{posizione.timestamp | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{posizione.latitudine}}</td>
            <td>{{posizione.longitudine}}</td>
            <td *ngIf="renderedElimina">
                <button 
                    *ngIf="renderedElimina"
                    class="btn btn-danger"
                    title="Elimina archivio" 
                    (click)="onElimina(posizione)"> 
                    <fa [name]="'trash'" [size]=1></fa>                           
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
          <tr>
              <td colspan="5">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
          </tr>
    </tfoot>
</table>