<div class="card ">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        
        <table class="table table-striped" [mfData]="archivi" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Utente</th>
                <th scope="col">Rappr. Timestamp</th>
                <th scope="col">Rappr. Posizioni</th>
                <th scope="col" *ngIf="renderedAcquisti">Num. Acquisti</th>
                <th scope="col" *ngIf="!renderedAcquisti"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivio of mf.data"> 
                    <td [ngClass]="{'archivio-eliminato': !archivio.acquistabile}">{{archivio.id}}</td>
                    <td [ngClass]="{'archivio-eliminato': !archivio.acquistabile}">{{archivio.utente}}</td>
                    <td [ngClass]="{'archivio-eliminato': !archivio.acquistabile}">{{archivio.rappr_timestamp}}</td>
                    <td [ngClass]="{'archivio-eliminato': !archivio.acquistabile}">{{archivio.rappr_posizioni}}</td>
                    <td *ngIf="renderedAcquisti" [ngClass]="{'archivio-eliminato': !archivio.acquistabile}">
                        {{archivio.acquisti}}
                    </td>
                    <td *ngIf="!renderedAcquisti"></td>
                    <td style="width: 15%">
                        <button 
                            *ngIf="renderedPosizione"
                            class="btn btn-primary mr-2" 
                            title="Visualizza dettaglio e lista posizioni"
                            (click)="onVisualizzaPosizioni(archivio)">
                            <fa [name]="'search'" [size]=1></fa>                          
                        </button>
                        <button 
                            *ngIf="archivio.acquistabile && renderedAcquisti"
                            class="btn btn-danger"
                            title="Elimina archivio" 
                            (click)="onElimina(archivio)"> 
                            <fa [name]="'trash'" [size]=1></fa>                           
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
 

