<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChooseLocation($event)" #agmMap>
    <agm-drawing-manager (polygonComplete)="polygonCreated($event)" 
      [drawingControl]="managerOptions.drawingControl" 
      [drawingControlOptions]="managerOptions.drawingControlOptions"
      [polygonOptions]='managerOptions.polygonOptions' 
      [drawingMode]='managerOptions.drawingMode'>
    </agm-drawing-manager>

    <agm-circle 
              [latitude]="lat"
              [longitude]="lng"
              [circleDraggable]="true"
              [editable]="true"
              [fillColor]="red"
              [radius]="10">
    </agm-circle>
</agm-map>
