<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChooseLocation($event)" #agmMap>
    <agm-drawing-manager (polygonComplete)="polygonCreated($event)" 
      [drawingControl]="managerOptions.drawingControl" 
      [drawingControlOptions]="managerOptions.drawingControlOptions"
      [polygonOptions]='managerOptions.polygonOptions' 
      [drawingMode]='managerOptions.drawingMode'>
    </agm-drawing-manager>

    <agm-circle *ngFor="let data of circle"
      [latitude]="data.lat" [longitude]="data.lng" 
      [radius]="data.radius"
      [fillColor]="data.color"
      [circleDraggable]="true"
      [editable]="false">
  </agm-circle>
</agm-map>
